.navigation {
    grid-area: d-navigation;
    background-color: lavenderblush;
    padding: 20px;
}

.item a{
    text-decoration: none;
    color: darkseagreen;
}

.item a.active {
    color: gold;
}
