.application {
    margin: 0 auto;
    width: auto;
    display: grid;
    grid-template-areas: "d-logo d-logo" "d-navigation d-content";
    grid-template-rows: 90px 0fr;
    grid-template-columns: 2fr 10fr;
}

.background{
    grid-area: d-background;
}